.park-container {
  display: flex;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../../images/park-image.jpg");
  justify-content: center;
  align-items: center;
}

.park-small-container {
  margin-top: 6rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 350px;
}

.park-text {
  color: #fff;
  margin-left: 26px;
  margin-bottom: 6px;
  font-size: 14px;
}

.park-pass-text {
  color: #fff;
  margin-left: 26px;
  margin-bottom: 6px;
  font-size: 14px;
  margin-top: 1.5rem;
}

.park-sign-text {
  display: flex;
  align-self: center;
  color: #fff;
  font-size: 22px;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.park-email-input {
  height: 40px;
  width: 300px;
  display: flex;
  align-self: center;
  padding: 4px;
}

.park-pass-input {
  height: 40px;
  width: 300px;
  display: flex;
  align-self: center;
  padding: 4px;
}

.park-submit {
  height: 40px;
  width: 300px;
  display: flex;
  align-self: center;
  padding: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  background: linear-gradient(
    108deg,
    rgba(1, 147, 86, 1) 0%,
    rgba(10, 201, 122, 1) 100%
  );
  font-size: 16px;
}

.park-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.mail-warning {
  color: #c70039;
  margin-top: 4px;
  font-size: 13px;
  margin-left: 1.5rem;
}

.pass-warning {
  color: #c70039;
  margin-top: 4px;
  font-size: 13px;
  margin-left: 1.5rem;
}

.parking-container {
  display: flex;
  flex-direction: column;
}

.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index:-1
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #232a34;
}

.show-video{
  display:flex;
  position:absolute;
  z-index: 3;
  flex-direction: column;

}

.parking-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.parking-input:focus {
  border-color: #99c0f2;
  outline: none;
}

.form-container{
  display:flex;
  flex-direction: column;
}

.parking-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #952323;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-left: 2rem;
}

.park-top-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

.park-card-container {
  display: flex;
  /* margin-right: 0.5rem;
  margin-bottom: 0.5rem; */
}

.park-cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.park-card {
  display: flex;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0px;
}

.card-header {
  height: 100%;
  width: 150px;
  background-color: #dcbb95;
  color: #fff;
  font-size: 18px;

}

.card-header-active {
  height: 100%;
  width: 150px;
  background-color: #d80032;
  color: #fff;
  font-size: 18px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  height: 200px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(118, 160, 174);
}

.park-available-button {
  display: flex;
  height: 40px;
  width: 150px;
  background-color: #1a0404;
  color: #fff;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-left: 2rem;
}

.park-takeaway-button {
  display: flex;
  height: 40px;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #c38a8a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-left: 2rem;
}
